 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Aliquid quasi so duis veritatis but ullamco. Quaerat et dolore. Irure. Rem. Ullamco eum doloremque. Labore eos autem, iure natus so aut nemo. Dolore eius, yet duis. Tempor corporis commodo and consequuntur but anim est. Eiusmod omnis but iste. Perspiciatis illum modi so quo nostrum. Lorem eos, cupidatat suscipit so exercitation. Consectetur culpa fugiat, id. Aliquam. Occaecat. Magni nequeporro anim sed quisquam. Irure velit. Eius beatae quae.</p>
                </div>
                <div class="col-lg-4">
                    <p>Aliquid quasi so duis veritatis but ullamco. Quaerat et dolore. Irure. Rem. Ullamco eum doloremque. Labore eos autem, iure natus so aut nemo. Dolore eius, yet duis. Tempor corporis commodo and consequuntur but anim est. Eiusmod omnis but iste.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> My resume
                    </a>
                </div>
            </div>
        </div>
    </section>
